@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .weaher__left__city {
    font-size: 3rem;
  }
  .weaher__left__temp {
    font-size: 4rem;
  }
  .weaher__left__icon {
    width: 3rem;
  }
  .weaher__cover {
    width: 35rem;
  }
  .weaher__right {
    width: 30rem;
  }
  .header__search__box {
    width: 30rem;
  }
  .weaher__right__cpation {
    font-size: 1.4rem;
  }
  .weaher__ritht__text {
    font-size: 1.4rem;
  }
  .weaher__detail__text {
    font-size: 1.4rem;
  }
  .weaher__detail__number {
    font-size: 1.4rem;
  }
  .weaher__detail__text {
    font-size: 1.4rem;
  }
  .weaher__detail__number {
    font-size: 1.4rem;
  }
  .weaher__detail__img {
    width: 1rem;
  }
  .weaher__detail__img__cloud {
    width: 1.5rem;
  }
  .weaher__detail__img__wind {
    width: 1.5rem;
  }
  .forecast__img {
    width: 2.5rem;
  }
  .forecast__time {
    font-size: 1.2rem;
  }
  .forecast__status {
    font-size: 1.2rem;
  }
  .forecast__temp {
    font-size: 1.4rem;
  }
  .forecast__left {
    gap: 1.5rem;
  }
  .forecasts__caption {
    font-size: 1.4rem;
  }
  .weaher__left__date {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .weaher__cover {
    left: 0;
    height: 55vh;
    top: auto;
    right: 0;
    width: 100%;
    border-bottom: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  .forecasts {
    display: none;
  }
  .weaher__wrapper {
    flex-direction: column;
    height: 87vh;
    align-items: flex-end;
  }
  .weaher__details {
    padding-bottom: 5rem;
    width: 40rem;
  }
  .weaher__right {
    margin: 0 auto;
    padding-bottom: 2rem;
    width: 40rem;
  }
  .weaher__right__cpation {
    text-align: center;
  }
  .weaher__ritht__text {
    text-align: center;
    margin-top: 3rem;
  }
  .weaher__left {
    margin-top: 14rem;
    margin-right: auto;
    margin-bottom: 0;
  }
  .weaher__left__city {
    font-size: 4rem;
  }
  .weaher__left__temp {
    font-size: 6rem;
  }
  .weaher__left__icon {
    width: 5rem;
  }
}

@media screen and (max-width: 576px) {

  .weaher__cover {
    height: 65vh;
  }
  .weaher__left {
    margin-top: 5rem;
  }

  .weaher__left__city {
    font-size: 3rem;
  }
  .weaher__left__temp {
    font-size: 5rem;
  }
  .weaher__left__icon {
    width: 4rem;
  }
  .weaher__left {
    margin-top: 11rem;
    gap: 1rem;
  }
  .weaher__details {
    width: 100%;
    max-width: 30rem;
    gap: 3rem;
    margin-top: 4rem;
  }
  .weaher__right {
    width: 100%;
    max-width: 30rem;
  }
  .weaher__ritht__text {
    margin-top: 4rem;
  }
  .header__search__icon {
    width: 1.5rem;
  }
  .header__search__box {
    width: 20rem;
  }
}

@media screen and (max-width: 300px) {
  .weaher__cover {
    height: 65vh;
  }
  .weaher__left {
    margin-top: 5rem;
  }

  .weaher__left__city {
    font-size: 2rem;
  }
  .weaher__left__temp {
    font-size: 2rem;
  }
  .weaher__left__icon {
    width: 2rem;
  }
  .weaher__left__date {
    font-size: 1rem;
  }
  .weaher__left {
    margin-top: 11rem;
    gap: 1rem;
  }
  .weaher__details {
    width: 100%;
    max-width: 30rem;
    gap: 3rem;
    margin-top: 4rem;
  }
  .weaher__right {
    width: 100%;
    max-width: 30rem;
  }
  .weaher__ritht__text {
    margin-top: 4rem;
  }
  .weaher__right__cpation {
    font-size: 1.2rem;
  }
  .weaher__ritht__text {
    font-size: 1.2rem;
  }
  .header__search__icon {
    width: 1.5rem;
  }
  .input__search {
    font-size: 1rem;
    display: none;
  }
  .header__search__box {
    gap: 0.5rem;
    justify-content: end;
    border-bottom: none;
  }
}
